<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/index.css">
        <title>Vida de Giuseppe Martucci</title>
    </head>
    <body>
        <nav>
            <ul>
                <!-- Páginas relacionadas -->
                <li><a href="Home">Inicio</a></li>
                <li><a href="Biografia">Biografía</a></li>
                <li><a href="Obras">Obras destacadas</a></li>
            </ul>
        </nav>
        <div id="Bienvenida">
            <h1>¿Quién fue Giuseppe Martucci?</h1>
            <div id="texto">
                <p>Giuseppe Martucci, un maestro del Romanticismo tardío, dejó una marca indeleble en la historia de la música. Desde su nacimiento en Italia hasta su influencia en la escena musical europea, cada aspecto de su vida revela una narrativa rica en pasión y creatividad.</p>
                <p>Acompáñame en este viaje para explorar no solo la vida y obra de Martucci, sino también para comprender el entorno cultural y musical en el que prosperó. Descubriremos las conexiones con otros grandes músicos de la época, las influencias que moldearon su estilo único y los legados que dejó a las generaciones futuras.</p>
                <p>¡No te pierdas esta oportunidad de sumergirte en el mundo de Giuseppe Martucci y descubrir los secretos que aún esperan ser revelados!</p>
                <div class="Parrafo1">
                    <p>Nacido en un país fragmentado, Martucci vivio en carne viva la unificación del Estado italiano. Este suceso y la admiración de Martucci por otros compositores como Beethoven, Brahms, Verdi y Rossini, pudieron haber llevado su música al siguiente nivel. Descubra más sobre la historia de Giuseppe Martucci en su biografía.</p>
                    <a href="Biografia"><button>Pulsa aquí para leer su biografía</button></a>
                </div>
                <div class="Parrafo2">
                    <p>Las obras de Giuseppe Martucci tienen cierto encanto especial. Sin duda, existe en su ejecución un aire romántico, pero también contienen una riqueza armónica digna de la música comtemporánea. Si deseas conocer detalles específicos de las obras de Martucci, mira sus obras.</p>
                    <a href="Obras"><button>Pulsa aquí para ver sus obras</button></a>
                </div>
            </div>
            <img src="https://lh3.googleusercontent.com/proxy/eV4-kPDyDag4UXjPzm11pIJ9-Uc8kAAZNShs2mQtlj7Qe5tsa3ofzd7Z8qxhHTcIRo_LjwF44IQqgYE92Pjmze2Q5zr1UKyy9kGTtIQbKw">
        </div>
    </body>
</html>