<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/obras.css">
        <title>Vida de Giuseppe Martucci</title>
    </head>
    <body>
        <nav>
            <ul>
                <!-- Páginas relacionadas -->
                <li><a href="Home">Inicio</a></li>
                <li><a href="Biografia">Biografía</a></li>
                <li><a href="Obras">Obras destacadas</a></li>
            </ul>
        </nav>
        <div id="Bienvenida">
            <h1>¿Cuáles son aquellas obras de Martucci que hace se nos acabe el aire?</h1>
            <p>A continuación, mostramos un catálogo que, si bien, no es extenso, está bien surtido de varios géneros relevantes dentro del vasto mundo de la música clásica. Aquí veremos sinfonías, conciertos de piano, sontas para violonchelo y más... Empecemos.</p>
        </div>
        <div id="Sinfonia1">
            <div id="Texto1">
                <h2>Sinfonia en re menor (Op.75)</h2>
                <p>Compuesta entre 1872 y 1888, esta sinfonía es una manifestación notable del estilo romántico tardío de Martucci y refleja su habilidad para combinar la tradición sinfónica europea con elementos melódicos y armónicos característicos de la música italiana.</p>
                <p>La historia detrás de la Sinfonía No. 1 es fascinante y revela mucho sobre la evolución creativa de Martucci. Comenzó a componer la sinfonía en 1872, cuando aún era un joven compositor en la etapa inicial de su carrera. Sin embargo, la obra pasó por varias revisiones y transformaciones a lo largo de los años, reflejando el crecimiento y desarrollo de Martucci como compositor.</p>
                <p>La sinfonía finalmente se completó en 1888 y fue estrenada ese mismo año en Bolonia, Italia, bajo la dirección del propio Martucci. La recepción fue en general positiva, y la obra fue elogiada por su rica instrumentación, su expresividad emocional y su profunda conexión con la tradición musical europea.</p>
                <p>La Sinfonía No. 1 en Re menor consta de cuatro movimientos:</p>
                <ol>
                    <li><b>Allegro vivo e impetuoso:</b> Este movimiento inicial establece el tono dramático de la sinfonía con un tema enérgico y vigoroso que se desarrolla a lo largo del movimiento.</li>
                    <li><b>Larghetto:</b> El segundo movimiento, de carácter más lírico y contemplativo, presenta melodías expansivas y armonías exquisitas que contrastan con el movimiento anterior.</li>
                    <li><b>Scherzo-Allegro ma non troppo:</b> El scherzo, o movimiento de broma, es ligero y animado, con ritmos rápidos y contrastes dinámicos que lo hacen memorable.</li>
                    <li><b>Allegro appassionato:</b> El movimiento final regresa al carácter dramático y apasionado del primer movimiento, con un desarrollo emocionante que culmina en un clímax poderoso y emocionante.</li>
                </ol>
            </div>
            <figure>
                <img src="https://www.latimes.com/includes/projects/hollywood/portraits/arturo_toscanini.jpg">
                <figcaption>El director de orquesta italiano Arturo Toscanini fue un gran impulsor de la música de Martucci, en especial de sus sinfonías.</figcaption>
            </figure>
        </div>
        <div id="Concierto1">
            <figure>
                <img src="https://www.philadelphiamusicalliance.org/wp-content/uploads/riccardo-muti-1.jpg">
                <figcaption>El director de orquesta italiano Ricardo Mutti es reconocido por conducir obras de Martucci como sus dos conciertos de piano, entre otras.</figcaption>
            </figure>
            <div id="Texto2">
                <h2>Concierto para piano en re menor (Op.40)</h2>
                <p>Compuesto en 1878 y estrenado el mismo año, este concierto representa la incursión de Martucci en el género del concierto para piano y orquesta, demostrando su destreza como compositor y pianista.</p>
                <p>Martucci, que era un pianista virtuoso, se sintió atraído por la idea de escribir un concierto para piano que pudiera mostrar tanto sus habilidades técnicas como su talento compositivo. Inspirado por la tradición del concierto romántico y por compositores como Beethoven, Brahms y Liszt, Martucci se embarcó en la creación de esta obra monumental.</p>
                <p>El concierto consta de tres movimientos:</p>
                <ol>
                    <li><b>Allegro moderato:</b> El primer movimiento comienza con una introducción orquestal que establece el tema principal, seguido por la entrada del piano con un pasaje virtuoso. La música se desarrolla a través de una serie de temas melódicos y variaciones, con momentos de drama y lirismo.</li>
                    <li><b>Andante:</b> El segundo movimiento es más lírico y contemplativo, con melodías expresivas que son llevadas por el piano y la orquesta. Es un momento de calma y reflexión en medio de la energía del concierto.</li>
                    <li><b>Allegro con fuoco:</b> El tercer movimiento regresa al carácter enérgico y virtuosístico del primer movimiento, con pasajes rápidos y brillantes que muestran la destreza técnica del pianista. El movimiento culmina en un final emocionante.</li>
                </ol>
            </div>
        </div>
    </body>
</html>